@use 'mixins' as *;

:host {
    ion-header {
        padding-top: env(safe-area-inset-top, 0);
    }

    ion-toolbar {
        --background: var(--ion-background-color);
        --border-style: none;
        padding-top: 20px;
    }

    ion-title {
        font-size: 1.25rem;
        font-weight: 700;
    }

    ion-content {
        --background: var(--ion-background-color);
    }
}

.content-wrapper {
    @include flex-column();
    padding: 20px 10px;
}

.close-button {

    --background: var(--ion-color-step-100);
    --border-radius: 50%;
    --color: var(--ion-color-medium);

    width: 38px;
    height: 38px;

    border: 1px solid var(--ion-color-step-200);

    ion-icon {
        font-size: 30px;
    }
}

.budget-card {
    background: var(--ion-color-step-100);
    border: 1px solid var(--ion-color-step-200);
    border-radius: 22px;
    padding: 30px 10px 0px 10px;
    margin-bottom: 24px;

    h2 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 700;
    }

    p {
        margin: 8px 0 20px;
        color: var(--ion-color-medium);
        font-size: .95rem;
    }
}

.allocation-input {
    --border-radius: 14px;
}

.save-button {

    height: 50px;

    font-weight: 600;

}