<ion-header mode="ios">
    <ion-toolbar>
        <ion-title>Allocate Budget</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
    <div class="budget-card">
        <h2>{{ budgetName() }}</h2>
        
        <p>
            Enter the amount you want to allocate.
        </p>

        <ion-item class="allocation-input" lines="none">
            <ion-input #amountInput [clearInput]="true" type="number" label="Amount" labelPlacement="stacked"
                [value]="budgetAllocatedAmount()" (ionInput)="setAmount($event)">
            </ion-input>
        </ion-item>

    </div>

    <ion-button expand="block" class="save-button" (click)="save()">
        Save
    </ion-button>
</ion-content>